{{#each groups as |group|}}
  <h3> {{group.name}}
  <!-- {{log group}}
  <section data-id="{{group.id}}">
    <h6>Name: {{group.name}}</h6>
    <h3>
      {{limit group.name 5}}
    </h3>
    <h6>Intro:</h6>
    <p>
      {{#if group.leader}}
        {{group.leader}}
      {{else}}
        This is a leaderless group!
      {{/if}}
    </p>
  <button class="btn btn-danger leaveGroup"
  data-id="{{group.id}}">Leave</button>
  </section>
 -->
{{/each}}
