<!-- For retrieving all groups -->

<div class="row col-12">
  <div class="col-md-1 col-12"></div>
  <div class="card col-md-10 col-12" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="standard" style="font-size: 1.2em; font-family: 'Josefin Sans', sans-serif;">Group Name:</span> <br/>
        {{group.group_name}} <span class="badge badge-info" style="font-family:'Josefin sANS', sans-serif;">{{group.group_type}}</h5>
      <br/>
      <br/>
      <p class="card-text">{{group.group_description}}</p>
    </div>
    <ul class="list-group list-group-flush" data-id="{{group.id}}">
      <h5>Group Administrator &mdash; {{group.group_admin}}</h5>
      <p>Memberhips ID: {{id}}
      <h6>Group mailing list</h6>
      {{#each group.memberships as |user|}}
      <li class="list-group-item groupMailingList">{{contact_email}}</li>
      {{/each}}
    </ul>
    {{#if group.editable}}
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#editGroupToggle">Edit this group!</button>
    <div class="row">
      <div class="col">
        <div class="collapse single-collapse" id="editGroupToggle">
          <div class="card card-body updateGroup">
            <form class="editGroup" id="editGroup" data-id={{group.id}}>
              <h4>Name</h4>
              <input name="group[group_name]" type="text" required value="{{group.group_name}}">
              <h4>Type</h4>
              <input name="group[group_type]" type="text" required value="{{group.group_type}}">
              <h4>Description</h4>
              <input name="group[group_description]" type="text" required value="{{group.group_description}}">
              <input name="group[group_admin]" type="hidden" required value="{{group.group_admin}}">
              <button type="submit" class="btn btn-outline-success center-block">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
      <li class="list-group-item"><button type="button" class="btn btn-danger deleteMembership" data-id="{{group.id}}">Leave {{group.Name}}</button></li>
      <li class="list-group-item"><button type="button" class="btn btn-secondary backToMemberships">Back to my memberships &larr;</button></li>
    </ul>
    <br/>
    <br/>
  </div>
  <div class="col-md-1 col-12"></div>
</div>
