<!-- For retrieving all groups -->

<div class="row col-12">
  <div class="col-md-1 col-12"></div>
  <div class="card col-md-10 col-12" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="standard" style="font-size: 1.2em; font-family: 'Josefin Sans', sans-serif;">Group Name:</span> <br/>
        {{group.Name}} <span class="badge badge-info" style="font-family:'Josefin sANS', sans-serif;">{{group.Type}}</h5>
      <br/>
      <br/>
      <p class="card-text">{{group.Intro}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Members: {{group.users}}</li>
      <li class="list-group-item"><button type="button" class="btn btn-outline-primary joinGroup" data-id="{{group.id}}">Join this group!</button></li>
      <li class="list-group-item"><button type="button" class="btn btn-danger deleteGroup" data-id="{{group.id}}">Delete {{group.Name}}</button></li>
      <li class="list-group-item"><button type="button" class="btn btn-secondary getGroups">Back to all groups &larr;</button></li>
    </ul>
    <br/>
    <br/>
  </div>
  <div class="col-md-1 col-12"></div>
</div>
